<h1>Register</h1>

<%= form_for @user, url: register_path do |f| %>
  <%= render partial: 'shared/error_summary', locals: { errors: @user.errors } %>

  <div class="field">
    <%= f.label :name, class: 'field-label' %>
    <%= f.text_field :name, class: 'field-input' %>
  </div>
  <div class="field">
    <%= f.label :email, class: 'field-label' %>
    <%= f.email_field :email, class: 'field-input', required: true %>
  </div>
  <div class="field">
    <%= f.label :password, class: 'field-label' %>
    <%= f.password_field :password, class: 'field-input', required: true %>
  </div>
  <div>
    <%= f.submit 'Register' %>
  </div>
<% end %>
